* {
    margin: 0;
    padding: 0;
}

.bigMusicHub {
    margin: 38.41px;
}

.bigImage {
    margin-bottom: 28.81px;
}

.container {
    align-items: center;
    display: flex;
    background-color: #0F0D13;
    color: white;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100vw;
}

.bigPlayer {
    align-items: center;
    display: flex;
    background-color: #2A2141;
    border-radius: 9.6px;
    flex-direction: column;
    height: 498px;
    margin-right: 32px;
    width: 266.48px;
}

.mediumPlayer {
    align-items: center;
    display: flex;
    background-color: #2A2141;
    border-radius: 9.6px;
    flex-direction: column;
    height: 266.68px;
    margin-bottom: 32px;
    width: 357.71px;
}

.mediumMusicHub {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 29px;
}

.mediumMusicInfo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.mediumPlayerActions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.musicHub {
    align-items: center;
    display: flex;
    justify-content: center;
}

.musicInfo {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.musicTitle {
    font-family: 'Roboto';
    font-size: 24.01px;
    font-weight: bold;
    color: #E1E1E6;
}

.musicSubtitle {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 19.21px;
    color: #b7b7b7;
    margin-top: 9.6px;
}

.musicTime {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14.4px;
    color: #b7b7b7;
    margin-top: 9.6px;
}

.playerButtons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    margin-bottom: 29px;
}

.playerMediumButtons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 29px;
}

.playerProgressInfo {
    width: 100%;
}

.smallImage {
    margin-right: 29px;
}

.smallPlayer {
    align-items: center;
    display: flex;
    background-color: #2A2141;
    border-radius: 9.6px;
    flex-direction: column;
    height: 199.26px;
    width: 357.71px;
}